<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list app</title>
</head>
<body>
    <h3>Adicionar nova tarefa</h3>
    <form action="/add_task" method="post">
        <input type="text" name="description" required>
        <button type="submit">
            Adicionar
        </button>
    </form>
    <div>
        <h3>Lista de Tarefas</h3>
        <ul>
            {% for task in tasks %}
            <li>{{ task.description }}</li> <!-- Tarefa (Apenas a descrição é visível) -->
            {% endfor %}
        </ul>
    </div>
</body>
</html>